.NotFound-Container {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/images/404err.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.not-found-title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.go-back-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 120px;
    height: 40px;
    color: black;
    margin: 20px;
    font: bold 16px/1.5 sans-serif;
}

.go-back-button:hover {
    border: 2px solid black;
}