.Test-Container {
    background-color: rgb(205, 207, 208);
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    width: 220px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: .7;
    margin: 40px 50px;
}

.Test-Container:hover {
    opacity: 1;
}

.Test-Container h2 {
    font-size: 30px;
}

.Test-Main {
    display: flex;
    flex-direction: column;
    font: bold 16px/1.5 sans-serif;
}

.Test-Main span {
    margin-bottom: 20px;
}

.take-test-button, .check-results-button {
    cursor: pointer;
    border: none;
    border-radius: 7px;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: aqua;
    font-size: 20px;
    margin-top: 30px;
}