.not-found-title {
    color: #ffff;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.go-back-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 120px;
    height: 40px;
    color: black;
    margin: 20px;
    font: bold 16px/1.5 sans-serif;
}

.go-back-button:hover {
    border: 2px solid black;
}