.UserCreater-Container {
    margin:0 auto; 
    min-width: 750px;
    overflow-x: scroll;
}

.UserCreater-Table {
    margin: 0 auto;
    width: 90%;
}

.UserCreater-Table tr {
    width: 100%;
}

.UserCreater-Table td {
    padding:auto 10px;
}

.UserCreater-Container input{
    margin: 5px;
    width: 90%;
}

.UserCreater-Container input[type=button] {
    width: 60%;
    border-radius: 30px;
    padding: 5px;border: none;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
}

.UserCreater-Container input[type=text], .UserCreater-Container input[type=password], select {
    background-color: inherit;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 85%;
    outline: none;
    border-bottom: .5px solid black;
}