.UserCreater-Container {
    margin:0 auto; 
    min-width: 750px;
}

.UserCreater-Table {
    margin: 0 auto;
    width: 90%;
}

.UserCreater-Table > div {
    min-width: 750px;
}

.UserCreater-Container input{
    margin: 5px;
    width: 200px;
}

.UserCreater-Container input[type=button] {
    min-width: 400px;
    border-radius: 30px;
    padding: 5px;border: none;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
}

.UserCreater-Container input[type=text], .UserCreater-Container input[type=password], select {
    width: 200px;
    background-color: inherit;
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: .5px solid black;
}

.UserCreater-Table-Body > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.UserCreater-Table-Body > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.UserCreater-Table-Body span {
    font-size: 12px;
    line-height: 1;
}

.UserCreater-Table-Body {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.UserCreater-Table-Body [data-value=deleteButton] {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
    position: absolute;
    top: 0;
    right: -10;
}

/* submit button */
/* .submit-create {
  cursor: pointer;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
    color: lightgreen;
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid lightgreen;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .submit-create::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: lightgreen;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
  }
  .submit-create::after {
    content: "";
    display: inline-block;
    background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .submit-create:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
  }
  .submit-create:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  }
  .submit-create:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  } */

  /* add new row button */
  .add-new-row-button { 
    cursor: pointer;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    padding: 0.85em 0.75em;
    position: relative;
    margin-right: 40px;
    margin-top: 20px;
    z-index: 1;
    overflow: hidden;
  }

  .add-new-row-button:hover {
    color: #3498db;
  }

  .add-new-row-button::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .add-new-row-button:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.3s ease-out;
  }
