.Tests{
    width:100%;
    height: 100%;
    overflow-y:scroll;
}

.Tests-Container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px 5px 5px 0px;
    margin-bottom: 20px;    
}

.filter-tests {
    border: none;
    background-color: rgb(205, 205, 205);
    border-radius: 3px;
    padding: 10px;
}

.Student-Nav, .Teacher-Nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgb(197, 228, 238);
    width: 80%;
}



.Tests-bar {
    padding: 40px 70px 40px 40px;
}
.Tests-Main-Container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.Tests-Main-Container > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.Tests-Nav {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}



.tests {
    width:100%;
    height: 100%;
    padding: 40px 70px 40px 40px;
    overflow: auto;
}

.Teacher-Nav {
    text-align: center;
}

.test-starts-at {
    font-size: 15px;
}



  .switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #155FFF;
    position: relative;
    padding-right: 120px;
    position: relative;
  }
  .switch-button:before {
    content: "Finished";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
  }
  .switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
  }
  .switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
  }
  .switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
  }

  .teacher-nav-switch::before {
    content: "Create";
  }