.Home-Container {
    color: #333;
    width: 100%;
    min-width: fit-content;
    height: 100%;
    overflow: auto;
}

.home-title{
    text-align: center;
    width: 100%;
}

.hompage-content{
    background-color:rgb(255, 248, 248);
    border-radius: 10px;
    margin: 0 auto;
    min-height: 85%;
    max-height: fit-content;
    margin-bottom: 20px;
    width: 95%;
    overflow: auto;
}

.top-students-title{
    display: flex;
    padding: 5px 40px 5px 40px;
}

.top-students-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.Marks-Chart {
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    max-width: 900px;
    height: 400px;
}