.Change-Data { 
    padding: 40px 70px 40px 40px;
}

.Change-Data-Container {
    overflow-x:hidden;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

[data-value='deleteButton'] {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border-bottom: 1px solid black;
}

.Change-Data-Main {
    width: 100%;
}

.Change-Data-Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.Change-Data-Header div {
    margin-bottom: 30px;
}

.Change-Data-Container div span {
    cursor: pointer;
    margin-right: 20px;
    font-size: 18px;
    font: bold 18px/18px 'Open Sans', sans-serif;
}

.active-link {
    border-bottom: 4px solid gray;
    padding: 5px;
}

.Change-Data-Container-parrent {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 20px 10px 10px 10px;
    background-color: #fff;
    text-align: center;
}

.Change-Data-bar {
    padding: 20px 70px 20px 70px;
    width: 100%;
}