.User-Card-Container {
    cursor: pointer;
    position: relative;
    background-color: rgb(231, 222, 222);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 350px;
    min-height: fit-content;
    margin-right: 50px;
    margin-bottom: 40px;
    font: bold 16px/1.5 sans-serif;
    opacity: .6;
}

.User-Card-Container:hover {
    opacity: 1;
}

.user-card-mark {
    height: 50px;
    margin: auto 0;
    margin-top: 30px;
    margin-left: 40px;
}

@media (max-width: 540px) {
    .User-Card-Container {
        padding: 0;
        font: 100%/1.5 sans-serif;
    }
}