.TestCreater-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.TestCreater-Container > div {
    margin-bottom: 20px;
    width: 100%;
}

.TestCreater-Container input{
    margin: 5px;
    width: 100%;
}

.TestCreater-Container input[type=button] {
    width: 100%;
    border-radius: 30px;
    padding: 5px;border: none;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
}

.testInformationHeader input[type=button] {
    width: 200px;
}

.TestCreater-Container input[type=checkbox] {
    width: 50px;
}

.MuiFormControl-root > label:first-child {
    line-height: .8;
    bottom: 15px;
}

fieldset[aria-hidden="true"] {
    border: none;
}

label ~ [data-value] {
    border-radius: 20px;
    border: none;
    border-bottom: 1px solid black;
}

label ~ [data-value] > div:first-child {
    padding: 10px;
}

input[area-hidden='true'] {
    tabIndex: 0;
}
 
.TestCreater-Container input[type=text], .TestCreater-Container input[type=datetime-local], .TestCreater-Container input[type=number] {
    background-color: inherit;
    border-radius: 20px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: .5px solid black;
}

.testInformationData {
    display: flex;
    justify-content: center;
}

.Question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.Question-Container {
    position: relative;
}

.Answer {
    display: flex;
}

.testInformationHeader {
    display: flex;
    justify-content: center;
    width: 80%;
}

.delete-question {
    position: absolute;
    cursor: pointer;
    width: 30px;
    background-color: transparent;
    border: none;
    right: 0;
    top: 15%;
}

.delete-answer {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

hr {
    width: 80%;
}

input[type='button'] {
    cursor:pointer;
}

input[type='button']:hover {
    background:  linear-gradient(to bottom, #0f0c29, #4036ae, #24243e);
}

#addNewQuestion {
    width: 60%;
}