.TestCreater-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.TestCreater-Container > div {
    margin-bottom: 20px;
    width: 100%;
}

.TestCreater-Answer-Container {
    display: flex;
}

.Question-header {
    display: flex;
}

.Question-header input {
    width: 100%;
}

.TestCreater-Container input{
    margin: 5px;
    width: 100%;
}

.AnswersForm {
    width: 100%;
}

.TestCreater-Container input[type=button] {
    width: 100%;
    border-radius: 30px;
    padding: 5px;border: none;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
}

.css-319lph-ValueContainer {
    background-color: inherit;
}

.testInformationHeader input[type=button] {
    width: 200px;
}

.TestCreater-Container input[type=checkbox] {
    width: 50px;
}

.MuiFormControl-root > label:first-child {
    line-height: .8;
    bottom: 15px;
}

fieldset[aria-hidden="true"] {
    border: none;
}

label ~ [data-value] {
    border-radius: 20px;
    border: none;
    border-bottom: 1px solid black;
}

label ~ [data-value] > div:first-child {
    padding: 10px;
}

input[area-hidden='true'] {
    tabIndex: 0;
}
 
.TestCreater-Container input[type=text], .TestCreater-Container input[type=datetime-local], .TestCreater-Container input[type=number] {
    background-color: inherit;
    border-radius: 20px;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: .5px solid black;
}

.testInformationData {
    display: flex;
    justify-content: center;
}

.Question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.Question-Container {
    position: relative;
    margin: 0 auto;

}

.Question-Container > div {
    width: 100%;
}

.Answer {
    display: flex;
}

.testInformationHeader {
    display: flex;
    justify-content: center;
    width: 80%;
}

.delete-question {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
    right: 10px;
    top: 15%;
}

.delete-answer {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
    cursor: pointer;
    width: 35px;
    margin-top:5px;
    border-radius: 50%;
}

hr {
    width: 80%;
}

.QuestionsForm {
    width: 80%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CreateTest-buttons {
    width: 100%;
    border-radius: 30px;
    padding: 5px;
    border: none;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: white;
}

input[type='button'], input[type='submit'], .CreateTest-buttons {
    cursor:pointer;
}

input[type='button']:hover, input[type='submit']:hover, .CreateTest-buttons:hover  {
    background:  linear-gradient(to bottom, #0f0c29, #4036ae, #24243e);
}

#addNewQuestion {
    width: 60%;
}

.delete-question:hover, .delete-answer:hover {
    background: linear-gradient(to bottom, #0f0c29, #443bab, #24243e);
}

[data-value="rigthAnswer"] {
    border-radius: 50%;
    height: 20px;
}